APP_NAME="Culinary API"
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=culinary_db
DB_USERNAME=culinary_user
DB_PASSWORD=

CACHE_STORE=redis
CACHE_PREFIX=culinary_cache

QUEUE_CONNECTION=sync

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1

ADMIN_EMAIL=admin@culinary.local
ADMIN_PASSWORD=

# NOTE: These are development secrets. For production, run `php artisan passport:install`
PASSPORT_PASSWORD_CLIENT_ID=a1ae4c7b-53f3-4cc6-a353-03cefc393b74
PASSPORT_PASSWORD_CLIENT_SECRET=f4c88676d2e6da729f699a8031dbb5047f750826
PASSPORT_PERSONAL_ACCESS_CLIENT_ID=a1ae4c7b-565b-4566-812e-6f00d6db79fc
PASSPORT_PERSONAL_ACCESS_CLIENT_SECRET=xGB3R1fAmu4bMnry4Jdw4S1acZrH5YOIz0HP0wEj

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=
TELEGRAM_WEBHOOK_SECRET=

ZOMATO_API_KEY=
ZOMATO_BASE_URL=https://developers.zomato.com/api/v2.1